@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.main {
  background-color: #E4ECFF;
}

header{
  background-color: #FFFF;
}

.loading-spinner {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 4px solid rgba(0, 0, 0, 0.1); 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

/* @media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
 */